/*////////////////////////////////////////
///////////////// GLOBAL /////////////////
////////////////////////////////////////*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;
}

.page {
    width: 100%;
    height: 100%;
}

/*////////////////////////////////////////
////////////// LANDING PAGE //////////////
////////////////////////////////////////*/

.page-landing {
    display: flex;
    justify-content: center;
}

h1.title {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
}

h1.title .title__small {
    font-size: 1.25rem;
    font-style: italic;
}

/*////////////////////////////////////////
/////////////// STONE PAGE ///////////////
////////////////////////////////////////*/

.page-stone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.stone__name {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.stone__alt {
    margin: 0;
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
}

.stone__description {
    width: 48rem;
    max-width: 100%;
    line-height: 1.5;
}
