/*////////////////////////////////////////
///////////////// GLOBAL /////////////////
////////////////////////////////////////*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem 2rem;
}

.overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*////////////////////////////////////////
/////////////// STONE PAGE ///////////////
////////////////////////////////////////*/

.page-stone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    opacity: 0;
    visibility: hidden;
    transform: translateX(5rem);

    transition: all 1000ms ease-in-out;
}

.page-stone.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.stone__name {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.stone__alt {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.stone__description {
    width: 48rem;
    max-width: 100%;
    font-size: 1.125rem;
    line-height: 1.5;
}

@media (max-width: 575.98px) {
    .stone__description {
        display: none;
    }
}

/*////////////////////////////////////////
//////////// CONTROLS OVERLAY ////////////
////////////////////////////////////////*/

.overlay-controls {
    display: flex;
    justify-content: space-between;
}

.btn {
    all: unset;
    cursor: pointer;
    padding: 0.5rem;
}

.btn .material-icons {
    font-size: 3rem;
}

/*////////////////////////////////////////
///////////// INTRO OVERLAY //////////////
////////////////////////////////////////*/

.overlay-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
}

.intro__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}

.intro__title .splited-letter {
    opacity: 0;
    visibility: hidden;
}

.intro__title__one {
    font-size: 1.5rem;
    font-style: italic;
}

.intro__title__two {
    font-size: 3rem;
}

.intro__btn {
    all: unset;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: .25rem;
    border: solid 1px #fff;
    padding: 1rem 2rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 800ms ease;
}

.intro__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 800ms ease;
}

.intro__btn:hover {
    cursor: pointer;
    color: #000;
}

.intro__btn:hover::before {
    transform: scaleX(1);
}

.overlay-anim-white {
    background: #fff;
    transform-origin: bottom;
    transform: scaleY(0);
}

.overlay-anim-black {
    background: #000;
    transform-origin: bottom;
    transform: scaleY(0);
}
