/*////////////////////////////////////////
///////////////// GLOBAL /////////////////
////////////////////////////////////////*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem 2rem;
}

.overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*////////////////////////////////////////
/////////////// STONE PAGE ///////////////
////////////////////////////////////////*/

.page-stone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    opacity: 0;
    visibility: hidden;
    transform: translateX(5rem);

    transition: all 1000ms ease-in-out;
}

.page-stone.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.stone__name {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.stone__alt {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.stone__description {
    width: 48rem;
    max-width: 100%;
    font-size: 1.125rem;
    line-height: 1.5;
}

/*////////////////////////////////////////
//////////// CONTROLS OVERLAY ////////////
////////////////////////////////////////*/

.overlay-controls {
    display: flex;
    justify-content: space-between;
}

.btn {
    all: unset;
    cursor: pointer;
    padding: 0.5rem;
}

.btn .material-icons {
    font-size: 3rem;
}
